/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon----------------------- {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -1588px;
  width: 34px;
  height: 34px;
}
.icon-building {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -3193px;
  width: 29px;
  height: 36px;
}
.icon-cheese {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -5341px;
  width: 39px;
  height: 40px;
}
.icon-crops {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -6968px;
  width: 43px;
  height: 53px;
}
.icon-customer-service {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -2657px;
  width: 33px;
  height: 36px;
}
.icon-deal {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -528px;
  width: 35px;
  height: 30px;
}
.icon-factory {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -3729px;
  width: 37px;
  height: 37px;
}
.icon-groceries {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -4803px;
  width: 30px;
  height: 38px;
}
.icon-hotel {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -1058px;
  width: 36px;
  height: 30px;
}
.icon-lesser-coat-of-arms-of-ukraine-svg {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -5881px;
  width: 30px;
  height: 42px;
}
.icon-medicine {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -4266px;
  width: 36px;
  height: 37px;
}
.icon-mortarboard--1- {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px 0px;
  width: 47px;
  height: 28px;
}
.icon-restaurant {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -2122px;
  width: 35px;
  height: 35px;
}
.icon-running {
  background-image: url(../../build/img/sprite.png);
  background-position: 0px -6423px;
  width: 50px;
  height: 45px;
}
