main {
  display: none;
}
.internet-clubs {
  margin-top: 50px;

  .i-c-case-element {
    float: left;
  }

  .i-c-case-element__icon {
    color: #FFEC00;
  }
  .i-c-case-element__title {
    font-size:26px;
    margin-left:10px;
    display: inline-block;
    vertical-align: middle;
    color: #777777;
    padding: 4px 0px 7px 0px;

  }
  .i-c-case-element__subtitle {
    p {
      text-align: justify;
      margin: 0;
      padding: 0;
      vertical-align: top;
      display: block;
    }
  }
  .i-c-case-element__text__show {
    color: #555;
    text-decoration: none;
    display: inline;
    border-bottom: 1px dashed #555555;
  }
  #box {
    display: none;
    margin:0;
    padding-left:7px;

  }
  .services-nav {
    float: right;
    margin-top:10px;

  }
  .nav-title {
    color: #EF456A;
    padding-left:20px;

    span {
      padding-left:10px;
      font-weight:700;
    }
  }
  .s-n-case-element {
    margin-top:20px;
    padding-left:20px;
  }
  .s-n-case-element__icon {
    color: #FFEC00;
  }
  .s-n-case-element__text {
    font-size:18px;
    padding-left:10px;
  }
  .nav-list {
    margin-top:20px;
    ul li {
      list-style: none;
      padding:1px;


    }
    i {
      color: #EF456A;
    }
    span {
      color: #000;
      padding-left:10px;
      font-size:16px;
    }
  }
  .i-c-contact-info {
    float: left;
  }
  .i-c-contact-info {
    letter-spacing: 1px;
    line-height: 22px;
    padding:20px;
    margin-right:50px;
    margin-top:20px;
    i {

      margin-left:3px;
    }
    a {
      color: #555;
    }
    .i-c-contact-info__name {

      font-weight:600;
      span {
        margin-left:5px;
      }
      i {
        font-size:18px;
      }
    }
    .i-c-contact-info__adress {
      margin-left:2px;
      i {
        font-size:19px;

      }
      span {
        margin-left:10px;
        color: #555;
      }
    }
    .i-c-contact-info__phone {
      margin-left:2px;
      a {
        text-decoration: none;
      }

      .i-c-contact-info__phone__ic-1 {
        font-size:18px;

      }
      .i-c-contact-info__phone__ic-2 {
        color: #EF456A;
      }
      .i-c-contact-info__phone__redword {
        padding-bottom:3px;
        border-bottom: 1px dashed;
        &:hover {
          color: #EF456A;
        }
      }
    }
  }
  .pagination {padding: 20px; clear:both;}
  .pagination ul {text-align: center;}
  .pagination ul li {display: inline-block; margin: 0 1px; vertical-align: middle; line-height: 12px; padding: 2px 6px;}
  .pagination ul li a, .pagination ul li span {color: #666f80;}
  .pagination ul li a:hover, .pagination ul li span:hover {background: #f5f5f5; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;}
  .pagination ul li a.prev, .pagination ul li a.next {font-weight: bold;}
  .pagination ul li.active a, .pagination ul li.active span {color: #2d4c80; font-size: 16px; font-weight: bold;}
  .pagination ul li.active a:hover, .pagination ul li.active span:hover {background: none;}
  .pagination ul li a:hover {}
  .pagination ul li.active a {color: #2d4c80; font-size: 16px; font-weight: bold;}
}

