.footer{

  background-color: #111214;
  opacity: 0.84;
  margin-top:-250px;



  padding: 20px;
  &--nav{
    padding-top:5px;
    &__list{
      list-style: none;
      padding:0;
      margin:0;
      line-height:32px;


      a{
        font-size: 20px;
        text-transform: capitalize;
        text-decoration: none;
        color: #dedede;
        &:hover{
          color: #E66B00;
        }
      }
    }
  }
  &--info{
    border-left: 1px solid #63676C;
    border-right: 1px solid #63676C;
    p{
      color: #dedede;
      text-align: center;
      font-size:22px;
      line-height: 1.2;

    }
    span{
      display: block;
    }
    &__copyright{
      padding-top: 10px;
    }
  }
  &--contact{
    p{
      text-align: center;
      font-size:20px;
      line-height: 1.2;
      color: #dedede;
    }
    span{
      display: block;
    }
    &__social{
      text-align: center;
      padding-top: 15px;
      img{
        align-items: center;
        width: 15%;
        margin: 3px;
      }
    }
  }



}

