  header {
  background: repeating-linear-gradient(-33deg, rgba(52, 55, 58, .4), rgba(201, 206, 210, .4) 1px, rgba(54, 56, 58, .4) 2px, rgba(52, 55, 58, .4) 5px);
  .container-fluid {
    background: linear-gradient(to right, rgba(4, 28, 37, 0.85), rgba(4, 28, 37, 0.85));
  }
  ul {
    padding-top:63px;
    padding-bottom:62px;
    list-style: none;
    li {
      display: inline;
      padding-right:26px;
    a {
      text-decoration: none;
      color: #dedede;
      font-size:18px;
      &:hover {
        color: #E66B00;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
        color: #E66B00;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

      }
    }
    }
}
    img {
      padding-top:52px;
      padding-bottom:51px;
      margin-left:31px;
    }
}