main {
  background-image: url('../img/background.png');
  height: 1924px;
  background-repeat:no-repeat;
  background-size: cover;
}
.search-location {
  background-color: #ffffff;
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.35);
  &--option {
    padding:21px 0 20px 0;
    a {
      text-decoration: none;
      color: #000000;
      font-size: 22px;
      &:hover {
        color: #E66B00;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &--form {

    display: inline;
    input {
      margin: 17px 0 20px 0;
      width: 95%;
      box-shadow: inset 3px 0 7px rgba(0, 0, 0, 0.35), inset 3px 0 7px rgba(0, 0, 0, 0.35);
      border-radius: 8px;
      background-color: #ffffff;
      color: #0c0d0b;
      font-size: 18px;
      padding: 5px 0 5px 15px;
      outline: none;
      position: relative;
    }
    .svg-inline--fa  {
      position: relative;
      z-index:2;
      margin-left:-43px;
      font-size:38px;
      padding:10px;
      border:1px solid  #E66B00;
      border-radius: 5px;
      background: #E66B00;
      color: #f8f8f8;
      cursor: pointer;
      top:7px;
    }
  }
  &--button {
    display: inline;
    margin-left:-155px;
    button {
      border: none;
      text-decoration: none;
      display: inline-block;
      background: #fff;
      z-index: 2;
      position: relative;
      outline: none;
      &:hover {
        color: #E66B00;
      }
    }
  .search-location--button__fst {
    border-right: 1px solid #303030;
  }

  }

}

.companys-acardeon {
  h2 {
    margin-top:82px;
    color: #ffffff;
    font-size: 36px;
    border: 1px solid #414241;
    background-color: #414241;
    border-radius: 10px 10px 0 0;
    opacity: 0.74;
    padding:18px 42px 16px 30px;
  }

  &--categories {
    border: 1px solid #191310;
    background-color: #191310;
    opacity: 0.85;
    bottom: 30px;
    left:15px;
    padding-top:15px;
    padding-bottom:15px;

    span {
      color: #ffffff;
      font-size: 20px;
      line-height:44px;
      cursor: pointer;
      padding-left:20px;


      &:hover {
        color: #E66B00;
      }
    }

  }
  &--leftpar {
    padding-bottom:19px;

  }
  &--rightpar {
  img {
    margin-left:-15px;
  }

  }
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.demo-product {
  margin-top:100px;
   h3 {
     border:1px solid #414241;
     border-radius: 10px 10px 0 0;
     background-color: #414241;
     opacity: 0.74;
     color: #ffffff;
     font-size: 42px;
     text-align: center;
     padding:17px;
     z-index: -1;
   }
  &--slider {
    border: 1px solid #0c0d0b;
    background-color: #0c0d0b;
    opacity: 0.74;
    width: 1140px;
    height: 416px;
    margin-top:-42px;
    margin-left:15px;
    #block-for-slider {
      width: 66%;
      margin: 0 auto;
    }

    #viewport {
      width: 100%;
      position: relative;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      text-align: center;
    }

    #slidewrapper {
      position: relative;
      width: calc(100% * 4);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
      -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
      transition-timing-function: cubic-bezier(.67,.01,.23,1);
    }

    #slidewrapper, #slidewrapper ul, #slidewrapper li {
      margin: 0;
      padding: 0;
    }

    .slide {
      width: calc(100%/4);
      list-style: none;
      display: inline;
      float: left;
    }

    .slide-img {
      width: 100%;
    }

    #prev-btn, #next-btn {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      top: calc(50% - 25px);
    }

    #prev-btn:hover, #next-btn:hover {
      cursor: pointer;
    }

    #prev-btn {
      left: 20px;
    }

    #next-btn {
      right: 20px;
    }

    #nav-btns {
      position: absolute;
      width: 100%;
      bottom: 20px;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    .slide-nav-btn {
      position: relative;
      display: inline-block;
      list-style: none;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      margin: 3px;
    }

    .slide-nav-btn:hover {
      cursor: pointer;
    }
  }
}
