  <section class="internet-clubs">
        <div class="container-fluid">
        <div class="container">
        <div class="row">
        <div class="col-lg-8">
           <div class="i-c-case-element">
             <i class="fa fa-users fa-2x i-c-case-element__icon" aria-hidden="true"></i>
                <span class="i-c-case-element__title">ІНТЕРНЕТ-КЛУБИ</span>
                <div class="i-c-case-element__subtitle">
                    <div class="i-c-case-element__subtitle__visible">
                    <div class="i-c-case-element__subtitle__visible__inner">
                    <p>Комп'ютерні інтернет-клуби клуби в Рівному пропонують потужні комп'ютери та відеокарти, великі монітори, зручні робочі місця, найновіші та захоплюючи ігри. Надають послуги з пошуку рефератів та інформації в інтернеті, набору текстів, сканування, копіювання та друк, запис з цифрового<span id="box">фотоапарату на цифрові носії. В інтернет клубах надається можливість скористатись послугами internet та копі-центром, а також skype для спілкування з друзями.</span></p>

</div>
<a href="#" onclick="openbox('box'); return false" class="i-c-case-element__text__show">Детальніше</a>
                    </div>
                    </div>

    </div>
    <div class="i-c-contact-info">
                    <a href="#" class="i-c-contact-info__name"><i class="fa fa-star-o" aria-hidden="true"></i><span>АРКАДА, КОМП'ЮТЕРНИЙ КЛУБ</span></a>
                    <br>
                    <div class="i-c-contact-info__adress">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><span>Рівне, майдан Незалежності, 3</span>
                    </div>
                    <div class="i-c-contact-info__phone">
                    <a href="#">
                   <span><i class="fa fa-phone i-c-contact-info__phone__ic-1" aria-hidden="true"></i></span>
                    <span>+380 (362</span>
                    <span>xxxxx</span>
                    <span><i class="fa fa-play i-c-contact-info__phone__ic-2" aria-hidden="true"></i></span>
                    <span class="i-c-contact-info__phone__redword">Показати</span>
    </a>
    </div>


    </div>
    <div class="i-c-contact-info">
                    <a href="#" class="i-c-contact-info__name"><i class="fa fa-star-o" aria-hidden="true"></i><span>АРКАДА, КОМП'ЮТЕРНИЙ КЛУБ</span></a>
                    <br>
                    <div class="i-c-contact-info__adress">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><span>Рівне, майдан Незалежності, 3</span>
                    </div>
                    <div class="i-c-contact-info__phone">
                    <a href="#">
                   <span><i class="fa fa-phone i-c-contact-info__phone__ic-1" aria-hidden="true"></i></span>
                    <span>+380 (362</span>
                    <span>xxxxx</span>
                    <span><i class="fa fa-play i-c-contact-info__phone__ic-2" aria-hidden="true"></i></span>
                    <span class="i-c-contact-info__phone__redword">Показати</span>
    </a>
    </div>


    </div>
    <div class="i-c-contact-info__left">
    <div class="i-c-contact-info">
                    <a href="#" class="i-c-contact-info__name"><i class="fa fa-star-o" aria-hidden="true"></i><span>АРКАДА, КОМП'ЮТЕРНИЙ КЛУБ</span></a>
                    <br>
                    <div class="i-c-contact-info__adress">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><span>Рівне, майдан Незалежності, 3</span>
                    </div>
                    <div class="i-c-contact-info__phone">
                    <a href="#">
                   <span><i class="fa fa-phone i-c-contact-info__phone__ic-1" aria-hidden="true"></i></span>
                    <span>+380 (362</span>
                    <span>xxxxx</span>
                    <span><i class="fa fa-play i-c-contact-info__phone__ic-2" aria-hidden="true"></i></span>
                    <span class="i-c-contact-info__phone__redword">Показати</span>
    </a>
    </div>


    </div>
    <div class="i-c-contact-info">
                    <a href="#" class="i-c-contact-info__name"><i class="fa fa-star-o" aria-hidden="true"></i><span>АРКАДА, КОМП'ЮТЕРНИЙ КЛУБ</span></a>
                    <br>
                    <div class="i-c-contact-info__adress">
                    <i class="fa fa-map-marker" aria-hidden="true"></i><span>Рівне, майдан Незалежності, 3</span>
                    </div>
                    <div class="i-c-contact-info__phone">
                    <a href="#">
                   <span><i class="fa fa-phone i-c-contact-info__phone__ic-1" aria-hidden="true"></i></span>
                    <span>+380 (362</span>
                    <span>xxxxx</span>
                    <span><i class="fa fa-play i-c-contact-info__phone__ic-2" aria-hidden="true"></i></span>
                    <span class="i-c-contact-info__phone__redword">Показати</span>
    </a>
    </div>


    </div>
     <div class="i-c-contact-info">
                        <a href="#" class="i-c-contact-info__name"><i class="fa fa-star-o" aria-hidden="true"></i><span>АРКАДА, КОМП'ЮТЕРНИЙ КЛУБ</span></a>
                        <br>
                        <div class="i-c-contact-info__adress">
                        <i class="fa fa-map-marker" aria-hidden="true"></i><span>Рівне, майдан Незалежності, 3</span>
                        </div>
                        <div class="i-c-contact-info__phone">
                        <a href="#">
                       <span><i class="fa fa-phone i-c-contact-info__phone__ic-1" aria-hidden="true"></i></span>
                        <span>+380 (362</span>
                        <span>xxxxx</span>
                        <span><i class="fa fa-play i-c-contact-info__phone__ic-2" aria-hidden="true"></i></span>
                        <span class="i-c-contact-info__phone__redword">Показати</span>
        </a>
        </div>


        </div>
         <div class="i-c-contact-info">
                            <a href="#" class="i-c-contact-info__name"><i class="fa fa-star-o" aria-hidden="true"></i><span>АРКАДА, КОМП'ЮТЕРНИЙ КЛУБ</span></a>
                            <br>
                            <div class="i-c-contact-info__adress">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><span>Рівне, майдан Незалежності, 3</span>
                            </div>
                            <div class="i-c-contact-info__phone">
                            <a href="#">
                           <span><i class="fa fa-phone i-c-contact-info__phone__ic-1" aria-hidden="true"></i></span>
                            <span>+380 (362</span>
                            <span>xxxxx</span>
                            <span><i class="fa fa-play i-c-contact-info__phone__ic-2" aria-hidden="true"></i></span>
                            <span class="i-c-contact-info__phone__redword">Показати</span>
            </a>
            </div>


            </div>

    </div>
     <div class="pagination">
                 <ul>
                     <li><a href="#" class="prev"><</a></li>
                     <li class="active"><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                     <li><a href="#">5</a></li>
                     <li><a href="#">6</a></li>
                     <li><a href="#">...</a></li>
                     <li><a href="#">18</a></li>
                     <li><a href="#" class="next">></a></li>
                    </ul>
          </div>
    </div>
    <div class="col-lg-4">
    <div class="services-nav">
    <a href="#" class="nav-title"><i class="fa fa-play fa-1x" aria-hidden="true"></i><span>НАВІГАЦІЯ ПО КАТАЛОГУ</span></a>
    <div class="s-n-case-element">
    <i class="fa fa-users fa-2x s-n-case-element__icon" aria-hidden="true"></i>
    <span class="s-n-case-element__text">ПОСЛУГИ</span>
    </div>
    <nav class="nav-list">
    <ul>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Інтернет-клуби</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Ательє пошиття, ремонту одягу</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Візовий сервіс, закордонні паспорти</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Екологія - організації, послуги</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Експерти</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Землевпорядкування</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Інформаційні послуги</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Лотереї</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Метрологія і стандартизація</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Митні послуги</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Охоронні послуги</span></a></li>
        <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i><span>Пам'ятники, ритуальні послуги</span></a></li>
        </ul>
</nav>

</div>
    </div>
    </div>

    </div>
    </div>
    </section>