<footer>
<section class="footer">
		<div class="container-fluide">
			<div class="container">
				<div class="row">
					<div class="col-md-3 footer__borderR">
						<div class="footer--nav">
							<div class="header--logo">
								<div class="test">
									<a href="#"><img src="/img/logo-panorama------.png" alt="logo"></a>
								</div>
							</div>
							<div class="footer--nav">
								<ul class="footer--nav__list">
									<li><a href="#">головна</a></li>
									<li><a href="#">розмістити рекламу</a></li>
									<li><a href="#">додати компанію</a></li>
									<li><a href="#">сфери діяльності</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer--info">
							<p><span>Адреса:</span> 33016, Україна, м. Рівне, вул. Фабрична,8  <span>info@panorama.biz.ua</span></p>
							<p class="footer--info__copyright">© 2004-2018 "Панорама бізнесу",  <span>Всі права захищені</span></p>
						</div>
					</div>
					<div class="col-md-3 footer__borderL">
						<div class="footer--contact">
							<p><span>Телефони:</span> <span>(068)700 79 85</span> <span>(099) 077 29 47</span></p>
							<div class="footer--contact__social">
								<a href="#"><img src="img/facebook.png" alt="facebook"></a>
								<a href="#"><img src="img/instagram.png" alt="instagram"></a>
								<a href="#"><img src="img/g-.png" alt="google"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>











<script src="../js/main.js"></script>


</body>
</html>