<main>
<section class="search-location">
    <div class="container-fluid">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 search-location--option">
    <a href="#">Сфери діяльності</a>
</div>
 <div class="col-lg-3 search-location--option">
    <a href="#">Перегляд довідника</a>
</div>
<div class="col-lg-6 search-location--right">
<div class="search-location--form">
<input type="text" placeholder="Введіть текст пошуку">
<i class="fas fa-search"></i>
</div>
<div class="search-location--button">
<button class="search-location--button__fst">Рівне</button>
<button>Луцьк</button>

</div>
</div>
</div>
</div>
    </div>
    </div>
    </section>
<section class="companys-acardeon">
    <div class="container-fluid">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 ">
    <h2>Сфери діяльності підприємств</h2>
</div>
    <div class="col-lg-offset-5"></div>
</div>
<div class="row icons">
<div class="col-lg-5 companys-acardeon--categories companys-acardeon--leftpar">
<div class="acc-btn"><img src="img/----------------------.png" alt="test"><span class="dropbtn" onclick="myFunction()">Будівництво</span></div>
<div class="dropdown-content" id="myDropdown">
<a href="#">Заробітчани</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
<a href="#">Content Long Example</a>
</div>

		<div class="acc-btn"><img src="img/hotel.png" alt="test"><span class="dropbtn" onclick="myFunction()">Готелі, нерухомість</span></div>
		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

		<div class="acc-btn"><img src="img/lesser-coat-of-arms-of-ukraine-svg.png" alt="test"><span class="dropbtn" onclick="myFunction()">Державні органи, установи</span></div>
		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

    <div class="acc-btn"><img src="img/running.png" alt="test"><span class="dropbtn" onclick="myFunction()">Дозвілля, відпочинок, спорт</span></div>
    		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

        <div class="acc-btn"><img src="img/restaurant.png" alt="test"><span class="dropbtn" onclick="myFunction()">Заклади харчування</span></div>
        		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

            <div class="acc-btn"><img src="img/groceries.png" alt="test"><span class="dropbtn" onclick="myFunction()">Магазини</span></div>
                    		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

                        <div class="acc-btn"><img src="img/medicine.png" alt="test"><span class="dropbtn" onclick="myFunction()">Медицина</span></div>
                                		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

</div>
<div class="col-lg-4 companys-acardeon--categories companys-acardeon--rightpar">
<div class="acc-btn "><img src="img/mortarboard--1-.png" alt="test"><span class="dropbtn" onclick="myFunction()">Навчання, освіта</span></div>
<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

		<div class="acc-btn"><img src="img/building.png" alt="test"><span class="dropbtn" onclick="myFunction()">Офіс, оселя</span></div>
		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

		<div class="acc-btn"><img src="img/customer-service.png" alt="test"><span class="dropbtn" onclick="myFunction()">Послуги для кожного</span></div>
		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

    <div class="acc-btn"><img src="img/deal.png" alt="test"><span class="dropbtn" onclick="myFunction()">Послуги для бізнесу</span></div>
    		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

        <div class="acc-btn"><img src="img/cheese.png" alt="test"><span class="dropbtn" onclick="myFunction()">Продукти харчування</span></div>
        		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

            <div class="acc-btn"><img src="img/factory.png" alt="test"><span class="dropbtn" onclick="myFunction()">Промисловість, енергетика</span></div>
                    		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>

                        <div class="acc-btn"><img src="img/crops.png" alt="test"><span class="dropbtn" onclick="myFunction()">Сільське та лісове господарство</span></div>
                                		<div class="dropdown-content" id="myDropdown"><a href="#">Content Long Example</a></div>


</div>
<div class="col-lg-3">
<div class="main--advertising">
										<a href="#"><img src="img/advertising/320x192_side.jpg" alt="advertising"></a>
										<a href="#"><img src="img/advertising/Multi_327x190.jpg" alt="advertising"></a>
										<a href="#"><img src="img/advertising/OM_327x195_nevro_250.jpg" alt="advertising"></a>
									</div>
							</div>
</div>
</div>
    </div>
    </div>
    </section>
    <section class="demo-product">
        <div class="container-fluid">
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <h3>Перегляд довідника підприємств</h3>
</div>
</div>
<div class="row">
<div class="col-lg-12 demo-product--slider">
<div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide"><img src="https://hsto.org/files/8d4/b19/80d/8d4b1980d48c418090e2c4466d8c06e1.jpg" alt="1" class="slide-img"></li>
                <li class="slide"><img src="https://hsto.org/files/ef1/3d7/97e/ef13d797e4c642c7a1d4b2b91f7ad7b3.jpg" alt="2" class="slide-img"></li>
                <li class="slide"><img src="https://hsto.org/files/ec5/592/f1e/ec5592f1e814401eb38305682a8e88d4.jpg" alt="3" class="slide-img"></li>
                <li class="slide"><img src="https://hsto.org/files/eda/61a/3c5/eda61a3c53db408d820643998d9acd81.jpg" alt="4" class="slide-img"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>


        </div>
    </div>
</div>
</div>
        </div>
        </div>
        </section>
       </main>