@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
  url('/fonts/fontawesome/fontawesome-webfont.ttf')  format('truetype'),
  url('/fonts/fontawesome/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}